footer{
    background-color: #D9F0FF;
    padding: var(--body-padding);
    display:flex;
    flex-direction: column;
    gap:20px;
    /* display: grid;
    grid-template-columns:repeat(12, 1fr); */
}
/* ТЕКСТ */
.footer-extra p{
    color: var(--pale-vi);
}
footer a{
    color: var(--pale-vi);
}
footer h2{
    font-weight: 800;
    color: var(--vi);
    font-size: 48px;
}
/* БЛОКИ */
footer section{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.footer-main{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}
footer img{
    border-radius:100px;
    width: 100%;
}
.footer-main span{
    padding:25px;
    border-radius:100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    font-size:2rem;
}
.footer-extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:1640px) {
    footer{padding-bottom:130px;}
    .footer-main{display:flex;flex-direction: column;}
    footer img{border-radius:50px;}
    .footer-main span{font-size:1rem;border-radius:50px;}
    .footer-extra{flex-direction:column;align-items:center;gap:10px;}
    .footer-extra .logo{order:-1;}
    footer section{display:flex;flex-direction:column;align-items:center;text-align:center;}
    footer h2{text-align: center;}
}