.special-wrapper{
    width: 100%;
    display:grid;
    grid-template-columns:3fr 2fr;
    align-items: center;
    justify-content: space-between;
}
.special ul{
    list-style-type: none;
    padding:0;
    color:rgb(0,0,0,.75);
}
.special-desc{display:flex;flex-direction: column;justify-content: space-between;height: 100%;}
.special .btn{border-radius:30px;width:320px;font-size:24px;}
.special h3{font-size: 30px;}
.special h4{color:var(--vi);text-decoration:none;font-size:30px;}
.special-desc .recolor{color:black;text-decoration:line-through;}
.special-show .itc-slider-indicator{
    display:flex;
    filter:brightness(75%);
    transition:.5s;
    background-color:transparent;
    width:50px;
    height:50px;
    border:0;
    border-radius:5px;
}
.special-show .itc-slider-indicator-active{
    filter:brightness(100%);
}
@media (max-width:816px) {
    .special-wrapper{display:flex;flex-direction: column-reverse;gap:20px;}
    .special-desc{align-self:flex-start;gap:10px;}
}