.welcome{
    padding: var(--body-padding);
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap:20px;
}
/* блок слева */
.welcome-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.welcome-left h1{
    font-family: "Montserrat Alternates";
    font-size:40px;
    font-weight: 700;
    padding-bottom: 20px;
}
.welcome-left h2{
    font-size:32px;
    font-weight:600;
}
.welcome-left .recolor{
    color: #6F73D2;
}
/* блок справа */
.welcome-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:20px;
}
.welcome-right img{
    width:100%;
    height: auto;
}
.contact-welcome{
    display:none;
}
@media (max-width:1640px){
    .welcome{
        display:flex;
        flex-direction:column;
        text-align:center;
    }
    .welcome-left h1{
        font-size:36px;
    }
    .welcome-left h2{
        font-size:28px;
    }
    .welcome-right{
        align-items: center;
    }
    .contact-welcome{
        display:flex;
        gap:20px;
    }
}