/* шрифты */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700;800&display=swap');
/* блоки сайта */
@import url('css/base.css');
@import url('css/header.css');
@import url('css/welcome.css');
@import url('css/catalog.css');
@import url('css/kmr.css');
@import url('css/pros.css');
@import url('css/ourworks.css');
@import url('css/reviews.css');
@import url('css/footer.css');
/* элементы сайта */
@import url('css/logo.css');
@import url('css/product.css');
@import url('css/consult.css');
@import url('css/modal.css');
@import url('css/catalog_modal.css');
@import url('css/order.css');
@import url('css/itc-slider.css');
/* переменные */
:root{
    --vi:#6F73D2;
    --pale-vi:#7681B3;
    --lb:#83C9F4;
    --main-gradient: linear-gradient(0.25turn, #83C9F4, #6F73D2);
    --body-padding: 40px 162px;
    --btn-gradient: linear-gradient(0.25turn, #83C9F4 0%, #6F73D2 51%, #83C9F4 100%);
}
@media (max-width:1644px) {
    :root{
        --body-padding: 40px 80px;
    }
}
@media (max-width:816px) {
    :root{
        --body-padding: 40px 12px;
    }
}